*
!*/
!/.gitignore
!/index.html
!/styles.css
!/styles.min.css
!/script.js
!/robots.txt
!/sitemap.xml
!/.nojekyll
!/assets/clement-marie-220.webp
!/assets/clement-marie-440.webp
!/assets/clement-marie-660.webp
!/assets/clement-marie-resume.pdf
!/assets/favicon.svg
!/assets/logos/cea.png
!/assets/logos/ens-paris-saclay.png
!/assets/logos/huawei.png
!/assets/logos/mva.png
!/assets/logos/paris-saclay.svg
!/assets/logos/scai.svg
!/assets/logos/sorbonne.svg
!/google5c7ae513b8bcf239.html
